<?xml version="1.0"?>
<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="de.hrworks.mobileReceiptsPhonejs"
    versionCode="100"
    version="0.0.0.2">
   
    <name>Belegerfassung</name>

    <description>
	Test
    </description>

    <author href="http://www.hrworks.de">
        HRworks GmbH
    </author>

    <preference name="phonegap-version" value="3.4.0" />  
    <preference name="orientation" value="default" />
    <preference name="target-device" value="handset" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="permissions" value="none"/>
	<preference name="android-targetSdkVersion" value="15" /> 
	
    <!-- Android icons -->
    <icon src="res/drawable-hdpi/ic_launcher.png"  gap:platform="android" gap:density="hdpi" />
    <icon src="res/drawable-mdpi/ic_launcher.png"  gap:platform="android" gap:density="mdpi" />
    <icon src="res/drawable-xhdpi/ic_launcher.png"  gap:platform="android" gap:density="xdpi" />
    <icon src="res/drawable-xxhdpi/ic_launcher.png"  gap:platform="android" gap:density="xxhdpi" />
	<icon src="res/drawable-xxxhdpi/ic_launcher.png"  gap:platform="android" gap:density="xxxhdpi" />
</widget>