<?xml version="1.0"?>
<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="de.hrworks.mobileReceiptsPhonejs"
    versionCode="100"
    version="0.0.0.2">
   
    <name>Belegerfassung</name>

    <description>
	Test
    </description>

    <author href="http://www.hrworks.de">
        HRworks GmbH
    </author>

    <preference name="phonegap-version" value="3.3.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="permissions" value="none"/>
</widget>