<div data-options="dxView : { name: 'addReceipt', title: '@newReceipt' } " >
	<div data-bind="dxCommand: { title: 'Speichern', id: 'create', action: addReceipt}"></div>
	
	<div data-bind="dxCommand: { id: 'settings', title: '@settings', action: HRworksReceipt.goToSettings }"></div>
	<div data-bind="dxCommand: { id: 'info', title: '@infos',  action: HRworksReceipt.goToInfos }"></div>
	<div data-bind="dxCommand: { id: 'feedback', title: '@feedback',  action: HRworksReceipt.goToFeedback }"></div>
	<div class="view" data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="content" data-bind="dxScrollView: { }">
			<div class="dx-fieldset">
				<div class="dx-field">
					<div class="dx-field-label">@name</div>
					<div class="dx-field-value">
						<div id="txtInputText" data-bind="dxTextBox: { value: inputText, placeholder: '@name' }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label" style="width: 20%; position: relative; float: left;">@amount</div>
					<div class="dx-field-value" style="width: 30%; position: relative; float: left;">
						<div  id="numbInputAmount" data-bind="dxTextBox: { value: inputAmount, mode: 'number', placeholder: '@amount' }"></div>

					</div>
					<div class="dx-field-value"  style="width: 50%; position: relative; float: right;">
						<div id="selectCurrency" data-bind="dxSelectBox: {
							dataSource: currenciesDataSource,
							displayExpr: 'description',
							valueExpr: 'symbol',
							value: currency
							}">
						</div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">@date</div>
					<div class="dx-field-value">
						<div id="dateInputDate" data-bind="dxDateBox: { value: inputDate, format: 'date' }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">@receiptKind</div>
					<div class="dx-field-value">
						<div id="selectReceiptKind" data-bind="dxSelectBox: {
							dataSource: receiptKindsDataSource,
							displayExpr: 'description',
							valueExpr: 'id',
							value: receiptKind
							}">
						</div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">@kindOfPayment</div>
					<div class="dx-field-value">
						<div id="selectKindOfPayment" data-bind="dxSelectBox: {
							dataSource: kindsOfPaymentsDataSource,
							displayExpr: 'description',
							valueExpr: 'id',
							value: kindOfPayment
							}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>