<div data-options="dxView : { name: 'addReceipt', title: '@newReceipt' } " >
	<div data-bind="dxCommand: { title: 'Create', id: 'create', icon: 'save', action: addReceipt}"></div>
	<div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="content" data-bind="dxScrollView: { }">
			<div class="dx-fieldset">
				<div class="dx-field">
					<div class="dx-field-label">@name</div>
					<div class="dx-field-value">
						<div data-bind="dxTextBox: { value: inputText, placeholder: '@name' }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">@number</div>
					<div class="dx-field-value">
						<div data-bind="dxTextBox: { value: inputAmount, mode: 'number', placeholder: '@number' }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">@gender</div>
					<div class="dx-field-value">
						<div class="dx-field-value" data-bind="dxSelectBox: {
							dataSource: genderSource,
							displayExpr: 'symbol',
							valueExpr: 'symbol',
							value: gender
							}">
						</div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">@birthday</div>
					<div class="dx-field-value">
						<div data-bind="dxDateBox: { value: inputDate, format: 'date', placeholder: date_placeholder }"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>