<div data-options="dxView : { name: 'addReceipt', title: 'Receipt' } " >
	<div data-bind="dxCommand: { title: 'Create', id: 'create', icon: 'save', action: addReceipt}"></div>
	<div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="content" data-bind="dxScrollView: { }">
			<div class="dx-fieldset">
				<div class="dx-field">
					<div class="dx-field-label">Text</div>
					<div class="dx-field-value">
						<div id="txtInputText" data-bind="dxTextBox: { value: inputText, placeholder: 'Text' }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">Amount</div>
					<div class="dx-field-value">
						<div id="numbInputAmount" data-bind="dxTextBox: { value: inputAmount, mode: 'number', placeholder: 'Amount' }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">Currency</div>
					<div class="dx-field-value">
						<div id="selectCurrency" class="dx-field-value" data-bind="dxSelectBox: {
							dataSource: currenciesSource,
							displayExpr: 'symbol',
							valueExpr: 'symbol',
							value: currency
							}">
						</div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">Date</div>
					<div class="dx-field-value">
						<div id="dateInputDate" data-bind="dxDateBox: { value: inputDate, format: 'date', placeholder: date_placeholder }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">Receipt Kind</div>
					<div class="dx-field-value">
						<div id="selectReceiptKind" class="dx-field-value" data-bind="dxSelectBox: {
							dataSource: receiptKindsSource,
							displayExpr: 'description',
							valueExpr: 'id',
							value: receiptKind
							}">
						</div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">Kind of Payment</div>
					<div class="dx-field-value">
						<div id="selectKindOfPayment" class="dx-field-value" data-bind="dxSelectBox: {
							dataSource: kindsOfPaymentSource,
							displayExpr: 'description',
							valueExpr: 'id',
							value: kindOfPayment
							}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>