/* Put css styles for home view here */

.dx-theme-generic .simple-layout .layout-content {
    top: 80px;
}

.dx-theme-ios7 .dx-list-item:after {
margin-top: 50px;
}
.left {
	font-size:14px;
	width: 50%;
	position: relative;
	float: left;
}
.right {
	font-size:14px;
	text-align:right;
	width: 50%;
	position: relative;
	float: right;
}
.largeButton  {
    margin: 10px;
}
.largeButton .dx-button {
    margin: 10px 0;
    padding: 0;
    width: 100%;
}
.formItemLeft {
	width: 35%;
}
.formItemRight {
	width: 65% !important; 
}