<div data-options="dxView : { name: 'home', title: '@receipts' } " >
	<div data-bind="dxCommand: { title: 'Create', id: 'create', icon: 'plus', action: '#addReceipt'}"></div>
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxList: { dataSource: ds} ">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#updateReceipt/{guid}'" class="list-item">
               <div class="left">	
					<p><b data-bind="text: text"></b></p>
					<p data-bind="text: getReceiptKindDescription(receiptKind)"></p>
				</div>
				<div class="right">
					<p data-bind="text: YYYYMMDDToDDMMYYYY(date)"></p>
					<p data-bind="text: amount + ' ' + currency"></p>
				</div>
            </div>
        </div>
    </div>
</div>