<div data-options="dxView : { name: 'home', title: 'Home' } " >
	<div data-bind="dxCommand: { title: 'Create', id: 'create', icon: 'plus', action: '#receipt'}"></div>
		<div class="home-view" data-options="dxContent : { targetPlaceholder: 'content' } " >	
			<div class="list" data-bind="dxList: {
				dataSource: receiptsArray,
				autoPagingEnabled: true,
				pullRefreshEnabled: pullRefresh,
			}">
			<div class="listItem" data-options="dxTemplate : { name: 'item' }" data-bind=" dxAction: '#receipt/{guid}'">
				<div class="left">	
					<p><b data-bind="text: text"></b></p>
					<p data-bind="text: getReceiptKindDescription(receiptKind)"></p>
				</div>
				<div class="right">
					<p data-bind="text: date"></p>
					<p data-bind="text: amount + ' ' + currency"></p>
				</div>	
			</div>
		</div>
	</div>
</div>