<div data-options="dxView : { name: 'receipt', title: 'Beleg' } " >
	<div data-bind="dxCommand: { title: 'Create', id: 'create', icon: 'save', action: '#home'}"></div>
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="content" data-bind="dxScrollView: { dataSource: dataSource }">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Bezeichnung</div>
                    <div class="dx-field-value">
                        <div data-bind="dxTextBox: { value: text, dataSource: dataSource, placeholder: 'Bezeichnung' }"></div>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Betrag</div>
                    <div class="dx-field-value">
                        <div data-bind="dxTextBox: { value: amount, dataSource: dataSource,mode: 'number', placeholder: 'Betrag' }"></div>
                    </div>
                </div>
				<div class="dx-field">
                    <div class="dx-field-label">Währung</div>
                    <div class="dx-field-value">
                        <div class="dx-field-value" data-bind="dxSelectBox: {
						dataSource: currenciesSource,
						displayExpr: 'symbol',
						valueExpr: 'symbol',
						value: currency
						}"></div>
                    </div>
				</div>
				<div class="dx-field">
                    <div class="dx-field-label">Datum</div>
                    <div class="dx-field-value">
                        <div data-bind="dxDateBox: { value: date, dataSource: dataSource, format: 'date', placeholder: today }"></div>
                    </div>
                </div>
				<div class="dx-field">
                    <div class="dx-field-label">Belegart</div>
                    <div class="dx-field-value">
                        <div class="dx-field-value" data-bind="dxSelectBox: {
						dataSource: receiptKindsSource,
						displayExpr: 'description',
						valueExpr: 'id',
						value: receiptKind
						}"></div>
                    </div>
                </div>
				<div class="dx-field">
                    <div class="dx-field-label">Zahlungsart</div>
                    <div class="dx-field-value">
                       <div class="dx-field-value" data-bind="dxSelectBox: {
						dataSource: kindsOfPaymentSource,
						displayExpr: 'description',
						valueExpr: 'id',
						value: kindOfPayment
						}"></div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>