<div data-options="dxView : { name: 'receipt', title: 'Beleg' } " >
	<div data-bind="dxCommand: { title: 'Create', id: 'create', icon: 'save', action: add_receipt}"></div>
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="content" data-bind="dxScrollView: {}">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Text</div>
                    <div class="dx-field-value">
                        <div id="txtInputText" data-bind="dxTextBox: { value: vm.text, placeholder: 'Text' }"></div>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Betrag</div>
                    <div class="dx-field-value">
                        <div id="numbInputAmount" data-bind="dxTextBox: { value: vm.amount, mode: 'number', placeholder: 'Betrag' }"></div>
                    </div>
                </div>
				<div class="dx-field">
                    <div class="dx-field-label">Amount</div>
                    <div class="dx-field-value">
                        <div id="selectCurrency" class="dx-field-value" data-bind="dxSelectBox: {
						dataSource: vm.currenciesSource,
						displayExpr: 'symbol',
						valueExpr: 'symbol',
						value: vm.currency
						}"></div>
                    </div>
				</div>
				<div class="dx-field">
                    <div class="dx-field-label">Date</div>
                    <div class="dx-field-value">
                        <div id="dateInputDate" data-bind="dxDateBox: { value: vm.date, format: 'date', placeholder: vm.date }"></div>
                    </div>
                </div>
				<div class="dx-field">
                    <div class="dx-field-label">Receipt Kind</div>
                    <div class="dx-field-value">
                        <div id="selectReceiptKind" class="dx-field-value" data-bind="dxSelectBox: {
						dataSource: vm.receiptKindsSource,
						displayExpr: 'description',
						valueExpr: 'id',
						value: vm.receiptKind
						}"></div>
                    </div>
                </div>
				<div class="dx-field">
                    <div class="dx-field-label">Kind of Payment</div>
                    <div class="dx-field-value">
                       <div id="selectKindOfPayment" class="dx-field-value" data-bind="dxSelectBox: {
						dataSource: vm.kindsOfPaymentSource,
						displayExpr: 'description',
						valueExpr: 'id',
						value: vm.kindOfPayment
						}"></div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>