<div data-options="dxView : { name: 'settings', title: 'Einstellungen' } " >
	<div data-bind="dxCommand: { id: 'save'}"></div>
	<div data-bind="dxCommand: { id: 'receipts', action: HRworksReceipt.goToReceipts }"></div>
	<div data-bind="dxCommand: { id: 'settings', title: '@settings', action: HRworksReceipt.goToSettings }"></div>
	<div data-bind="dxCommand: { id: 'info', title: '@infos',  action: HRworksReceipt.goToInfos }"></div>
	<div data-bind="dxCommand: { id: 'feedback', title: '@feedback',  action: HRworksReceipt.goToFeedback }"></div>
	<div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } ">
		<div class="content" data-bind="dxScrollView: { }">
			<div class="dx-fieldset">
				<div class="dx-field">
					<div class="dx-field-value" style="width:100%">
						<div data-bind="dxTextBox: { value: '', placeholder: '@companyid' }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-value" style="width:100%">
						<div data-bind="dxTextBox: { value: '', placeholder: '@userid' }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-value" style="width:100%">
						<div data-bind="dxTextBox: { value: '', placeholder: '@mobilePassword'}"></div>
					</div>
				</div>
			</div>
			<center>
			@settingsText
			</center>
			<div class="dx-fieldset">
				<div class="dx-field">
					<div class="dx-field-label">@server</div>
					<div class="dx-field-value">
						<div data-bind="dxSelectBox: {
							dataSource: serverSource,
							displayExpr: 'name',
							valueExpr: 'name',
							}">
						</div>
					</div>
				</div>
			</div>	
			<div class="largeButton">
				<div data-bind="dxButton: { text: '100 Beispiel-Belege erstellen', clickAction: exampleReceipts }"></div>
			</div>
						<div class="largeButton">
				<div data-bind="dxButton: { text: 'Alle Belege löschen', clickAction: dellReceipts }"></div>
			</div>
		</div>
	</div>
</div>