<div data-options="dxView : { name: 'settings', title: '@settings' } " >
	<div data-bind="dxCommand: { title: '@saveButton', id: 'create', action: updateReceipt}"></div>
	<div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } ">
		<div class="content" data-bind="dxScrollView: { }">
			<div class="dx-fieldset">
				<div class="dx-field">
					<div class="dx-field-label">@name:</div>
					<div class="dx-field-value">
						<div id="txtInputText" data-bind="dxTextBox: { value: inputText, placeholder: '@name' }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">@date</div>
					<div class="dx-field-value">
						<div id="dateInputDate" data-bind="dxDateBox: { value: inputDate, format: 'date' }"></div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">@receiptKind</div>
					<div class="dx-field-value">
						<div id="selectReceiptKind" data-bind="dxSelectBox: {
							dataSource: receiptKindsSource,
							displayExpr: 'description',
							valueExpr: 'id',
							value: receiptKind
							}">
						</div>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">@kindOfPayment</div>
					<div class="dx-field-value">
						<div id="selectKindOfPayment" data-bind="dxSelectBox: {
							dataSource: kindsOfPaymentSource,
							displayExpr: 'description',
							valueExpr: 'id',
							value: kindOfPayment
							}">
						</div>
					</div>
				</div>
			</div>
			<div class="largeButton">
				 <div data-bind="dxButton: { text: '@delete', type: 'danger', clickAction: clickRemoveReceipt }"></div>
			</div>
						<div class="largeButton">
				 <div data-bind="dxButton: { text: '@copyReceipt', clickAction: clickDoubleReceipt }"></div>
			</div>
			<div data-bind="dxActionSheet: { title: '@deleteThisReceipt?', dataSource: actionSheetData, visible: actionSheetVisible }"></div>
		</div>
	</div>
</div>